# Environment Variables for SMTP
SetEnv SMTP_USER "hello@jora-studio.com"
SetEnv SMTP_PASS "Success1000*"
SetEnv SMTP_HOST "mail.privateemail.com"
SetEnv SMTP_PORT "465"

<IfModule mod_rewrite.c>
  RewriteEngine On

  # If the request is for an existing file or directory, serve it normally
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Otherwise, send everything to Vue's index.html (history mode)
  RewriteRule ^ index.html [L]
</IfModule>
